[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
python-dotenv = "*"
requests = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
PyJWT = "*"
SQLAlchemy = "*"
Werkzeug = "*"
jinja2 = "*"
aws-psycopg2 = "*"

[dev-packages]
zappa = "*"

[requires]
python_version = "3.8"
